/messages/messages.json
/customize/
/uploads/
/temp/

# javascript && typescript
package-lock.json
server/dist/
server/node_modules/

# public config
public/config.php

# for self reference
/selfRef/

#run
run.cmd